
@viewport {
  width: extend-to-zoom 980px;
  min-zoom: 0.25;
  max-zoom: 5;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

section {
  margin-bottom: column-gutter;
}

body {
  background-color: blue;
}

header {
  padding-top: 60px;
  padding-bottom: 0;
  h1 {
    text-align: center;
    span { display: none; }
    img {
      max-width: 960px;
    }
  }
  h2 {
    color: yellow;
  }

  .row {
    margin-bottom: 60px;
  }
}

main {
  position: relative;
  > * {
    position: relative;
    z-index: 2;
  }


  section {
    padding-top: 60px;
    padding-bottom: 60px;

    &.fader {
      opacity: 0;
      padding-top: 60px;
    }
    &.light {
      background-color: white;
      h2 { color: black; }
      p { color: black; }
    }
  }

  .gate {
    background-color: desaturate(lighten(light-blue, 30%), 60%);
    content: '';
    height: 100%;
    top: 0;
    width: column-gutter;
    position: absolute;
    z-index: 1;

    box-shadow: 0 -20px 0 white;

    &.left { left: 0; }
    &.right { right: 0; }

  }

}
