
* {
  box-sizing: border-box;
}

section {
  border-bottom: 1px solid black;
  margin: column-gutter;
}

header {
  background-color: blue;
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    background-image: url('/assets/img/main-logo@2x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
    text-align: center;
    text-indent: -100%;
    margin: 0 auto;
    width: 560px;
    height: 184px;
  }
}
