
* {
  box-sizing: border-box;
}

section {
  border-bottom: 1px solid rgba(black, .24);
  margin: column-gutter;
}

body {
  background-color: blue;
}

header {
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    text-align: center;
    span { display: none; }
    img {
      max-width: 560px;
    }
  }
}
