black = #33364d;
blue = #74d4d5;
red = #ee546d;
yellow = #fff955;
white = #bfeff0;


// Base font settings
base-font = 'Open Sans', sans-serif;
base-line-height = 24px;
base-font-color = black;
base-font-size = 16px;
base-text-shadow = 1px 1px 0 rgba(black, .24);


// Header font settings
header-font = 'Kelson Sans', sans-serif;
header-font-color = red;


// Code font settings
code-font = 'Source Code Pro';
code-font-color = white;
code-font-size = 14px;
code-font-weight = 500;
