black = #33364d;
blue = #74d4d5;
red = #ee546d;
yellow = #fff955;


// Base font settings
base-font = 'Open Sans', sans-serif;
base-line-height = 24px;
base-color = black;

// Header font settings
header-font = 'Kelson Sans', sans-serif;
header-color = yellow;