
// Brand colors
black                 = #33364d;
blue                  = #74d4d5;
light-blue            = #bfeff0;
dark-blue             = #60b6c0;
darkest-blue          = #31747c;
red                   = #d44e49;
dark-red              = #be321c;
gold                  = #dfc217;
yellow                = #fff955;
off-white             = #f2f6f6;
white                 = #fff;


// Base font settings
base-font             = "ff-basic-gothic-web-pro", sans-serif;
base-line-height      = 1.6;
base-font-color       = black;
base-font-weight      = 400;
base-font-size        = 16px;
base-text-shadow      = none;


// Header font settings
header-font           = 'Kelson Sans', sans-serif;
header-font-color     = red;


// Code font settings
code-font             = "source-code-pro",sans-serif;
code-background-color = dark-blue;
code-font-color       = off-white;
code-font-size        = 14px;
code-font-weight      = 800;
code-border           = 0 2px 0 0 white;
code-comment-color    = rgba(code-font-color, .5);

