<!DOCTYPE html>
<html>
<head>
  <title>Firepit</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>

  <header>
    <div class="row">
      <div class="small-12 column">
        <h1>
          <span>Floodgate</span>
          <img src="/assets/img/main-logo@2x.png">
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 column">
        <div class="scuba-dude">
          <% include img/scuba-dude.svg %>
        </div>
      </div>
      <div class="small-12 medium-8 column">
        <h2>Seriously simple access control!</h2>
        <p>All the awesome floodgate does. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, id, cum unde maxime ad perferendis repellat doloribus quasi reiciendis nemo. Deserunt, labore vitae rem vero eligendi accusantium minima consequatur consectetur.</p>
      </div>
    </div>

  </header>

  <main>
    <div class="left gate animate-480"></div>
    <div class="right gate animate-480"></div>
    <div class="waterfall"><% include img/waterfall.svg %></div>
    <section class="fader animate-480">
      <div class="row">

        <div class="small-12 medium-12 column text-center">
          <h2>Getting started</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, sint, tenetur, pariatur id non aliquid laborum voluptate facilis odit quo obcaecati iusto corporis modi eaque sapiente ipsum mollitia vel exercitationem.</p>
      </div>


      <div class="row">
        <div class="small-12 column">

          <h3>Installation in a snap</h3>
          <pre><code>
<span class="comment"># Ruby</span>
<span class="bash">gem install floodgate</span>
          </code></pre>
        </div>
      </div>


      <div class="row">
        <div class="small-12 medium-6 column">
          <h3>Open the Floodgates!</h3>
          <pre><code>
<span class="bash">floodgate open</span>
          </code></pre>
        </div>

        <div class="small-12 medium-6 column">
          <h3>Close the Floodgates!</h3>
          <pre><code>
<span class="bash">floodgate close</span>
          </code></pre>
      </div>

      <div class="row">
        <div class="small-12 column">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, sint, tenetur, pariatur id non aliquid laborum voluptate facilis odit quo obcaecati iusto corporis modi eaque sapiente ipsum mollitia vel exercitationem.</p>
        </div>
      </div>


    </section>

    <section class="light">
      <div class="row">
        <div class="small-12 medium-8 column">
          <h2>More better!</h2>
          <p>Heroku maintenance? PSH! Floodgate is moar awesome! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, id, cum unde maxime ad perferendis repellat doloribus quasi reiciendis nemo. <i>*MIC DROP*</i></p>
        </div>
        <div class="small-12 medium-4 column">
          <img src="http://adorable-avatars.herokuapp.com/avatar/img2.png">
        </div>
      </div>
    </section>

    <section class="text-center">

      <div class="row">
        <div class="small-12 medium-12 column">
          <h2>Features and stuff</h2>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-3 column">
          <img src="http://adorable-avatars.herokuapp.com/avatar/img3.png">
          <h3>Cool thing.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="small-12 medium-3 column">
          <img src="http://adorable-avatars.herokuapp.com/avatar/img4.png">
          <h3>Other cool thing.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="small-12 medium-3 column">
          <img src="http://adorable-avatars.herokuapp.com/avatar/img5.png">
          <h3>Really cool thing.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="small-12 medium-3 column">
          <img src="http://adorable-avatars.herokuapp.com/avatar/img6.png">
          <h3>Time to change your underwear awesome.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </section>

  </main>


  <footer>

    <div class="row">
      <div class="small-6 medium-6 column">
        <ul class="inline-list bullet">
          <li>&copy; 2013 ‐ 2014 Adorable IO, LLC</li>
          <li>An <a href="http://adorable.io/">Adorable.io</a> project</li>
        </ul>
      </div>
      <div class="small-6 medium-6 column">
        <div class="adorable-logo">
          <a href="http://adorable.io/">
            <span>adorable</span>
            <% include img/adorable.svg %>
          </a>
        </div>
      </div>
    </div>

  </footer>


  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/js/app.js"></script>
  <script src="//use.typekit.net/tql0qbj.js"></script>

  <script type="text/javascript">
    try{Typekit.load();}catch(e){}
  </script>
</body>
</html>
