pre {
  background-color: rgba(black, .24);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: column-gutter;
  code {
    color: code-font-color;
    font-family: code-font;
    font-size: code-font-size;
    font-weight: code-font-weight;
  }
}