* {
  -webkit-font-smoothing:antialiased;
}

h1, h2, h3, h4, h5 {
  color: header-font-color;
  font-family: header-font;
  text-shadow: base-text-shadow;
}

body, p {
  color: base-font-color;
  font-family: base-font;
  font-size: base-font-size;
  line-height: base-line-height;
}