* {
  -webkit-font-smoothing:antialiased;
}

h1, h2, h3, h4, h5 {
  color: header-color;
  font-family: header-font;
  text-shadow: 1px 1px 0 rgba(black, .42);
}

body, p {
  color: base-color;
  font-family: base-font;
  line-height: base-line-height;
}